.vs/
.vscode/
/src/gtl_ui/out/

Debug/
debug/
Release/
release/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/gtl_ui_test/GPUCache
/src/cef_test/GPUCache
